
.infobar {
    background:    #DBE7F0;
    border:        1px solid #C6D4E0;
    border-radius: 8px 8px 8px 8px;
    margin:        1em;
    padding:       0.1em 0.1em 0.1em 0.5em;
    box-shadow:    3px 3px 3px #888888;
}

#secondcol {
	font-size: 85%;
}

h1.title {
    box-shadow: 3px 3px 3px #888888;
}
.side-news {
     margin-top:1em
}

.main-news {
    margin-top: 1em;
}

#w3c_content_body {
    text-align: justify;
    hyphen: auto;
}

#quoteblock-tag-quote {
	text-align: justify;
    hyphens:    auto;
}

#about {
    text-align: justify;
    hyphen: auto;

}

#reel-control {
	display: flex;
	justify-content: space-between;
	margin-right: 8%;
	margin-left: 15%;
	margin-top:0.5em;
}

#reel-control div {
	cursor: pointer;
}

div#testimonials h3 {
	margin-bottom: 0em;
}
#quoteblock-image {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 0px;
}
#quoteblock-tag-image {
	max-height: 40px;
	width: auto;
	/*max-width: 30px;*/
	vertical-align: bottom;
	margin-bottom: 0px;
}
#quoteblock-quote{
	margin-top: 0px;
	margin-bottom: 1em;
}
#quoteblock-tag-quote {
	margin-top: 0;
	font-family: serif;
	font-size: 100%;
	font-style: italic;
	text-align: left;
}
#quoteblock-attribution {
	font-family: sans-serif;
	text-align: right;
	font-size: 90%;
	margin-top: 5px;
	margin-right: 0.5em;
}

#quoteblock-attribution::before {
	content: "— "
}

@media screen and (min-width: 1025px) {
    #about {
           -moz-column-count:2;
        -webkit-column-count:2;
                column-count:2;
           -moz-column-gap: 0em;
        -webkit-column-gap: 0em;
                column-gap: 0em;
    }

    .line {
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;

    }
}

@media screen and (min-width: 600px) {
    #secondcol {
      -webkit-flex: 1 ;
         -moz-flex: 1 ;
              flex: 1 ;

    }

    #maincol {
      -webkit-flex: 3 ;
         -moz-flex: 3 ;
              flex: 3 ;

    }
}



#about {
    margin-top: 1em;
    border-top: 1px solid #C6D4E0;
    padding-top: 1em;
}


h2#aboutdpub {
  padding-top: 0px !important;
  padding-bottom: 1px !important;
          column-span: all;
  -webkit-column-span: all;
     -moz-column-span: all;
}

@font-face {
  font-family: 'FirstLetter';
  src: url('../fonts/noticia-text/NoticiaText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

section#about p:first-of-type:first-line {
  font-weight: bold;
}

section#about p:first-of-type:first-letter {
  display: block;
  line-height: 0.85em;
  font-size: 400%;
  float: left;
  padding: 0 0.1em;
  font-family: 'FirstLetter';
  font-weight: normal !important;
}
