/*  
* == Unminified source ==
*
* publishing/events/summit2017 takes its styling from summit.min.css
*
* Use https://github.com/css/csso to minify css for summit.min.css
*
* Keep both css files updated, please 
*
*/

#content,
h1 {
    margin-top: 0
}

.more,
.more a,
h1,
nav {
    text-transform: uppercase
}

#intro h2,
.highlight,
.more,
.more a,
h2 {
    font-weight: 700
}

body {
    font-family: 'Noto Sans','Droid Sans','Helvetica Neue','Arial';
    font-size: 1.8em;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 50px
}

h1,
h2 {
    font-size: 2em
}

a {
    text-decoration: underline
}

h1 {
    letter-spacing: .2em
}

.time,
h3 {
    color: #1e2986
}

h4 {
    color: #666
}

img {
    max-width: 100%
}

section {
    padding-bottom: 3em;
    padding-top: 2em
}

hr {
    border-color: #ccc;
    margin: 0 1em
}

footer {
    margin-bottom: 2em
}

body:target {
    padding-top: 3em
}

footer img {
    height: auto;
    margin-right: 1em;
    width: 150px
}

.navbar {
    background: #161617;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .8)
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-decoration: none
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f8d364
}

.navbar-fixed-top {
    border-width: 0
}

.nav li a {
    padding-left: 12px;
    padding-right: 12px
}

.navbar-brand {
    padding-top: 13px
}

.navbar-brand img {
    height: 25px;
    width: auto
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #0067b1
}

#committee,
#intro,
#logistics,
#speakers {
    background: center bottom no-repeat #8BC34A;
    background-size: 100% auto;
    color: #fff
}

.reg-btn {
    background-color: #00192f;
    border-color: #00192f;
    border-radius: 0;
    width: 200px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: .08em
}

#committee h2,
#logistics h2,
#speakers h2 {
    color: #1e2986
}

#program h2,
#sponsors h2 {
    color: #fff
}

#program,
#sponsors {
    background-image: url(../img/bg_sec2.jpg);
    background-size: cover
}

#committee-inset,
#logistics-inset,
#program-inset,
#speakers-inset,
.inset-light,
.sponsors-inset {
    background: rgba(255, 255, 255, .9);
    color: #000;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: 1em
}

#program .row,
#speakers-inset .row {
    margin: 1em auto
}

.navbar-nav>li>a.button,
a.button {
    background: #f7d363;
    background-image: -webkit-linear-gradient(top, #f7d363 0, #c09c2e 100%);
    background-image: linear-gradient(to bottom, #f7d363 0, #c09c2e 100%);
    color: #000
}

#intro a.button,
#logistics a.button {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    display: inline-block;
    font-size: 1.8em;
    padding: .1em .5em;
    text-decoration: none;
    text-transform: uppercase
}

.navbar-nav>li>a.button:focus,
.navbar-nav>li>a.button:hover,
a.button:focus,
a.button:hover {
    color: #000
}

.navbar-nav>li>a.button:hover,
a.button:hover {
    background: #f7d363
}

#logistics,
#speakers {
    background-color: #fff;
    background-size: 100% auto
}

.more,
.more a {
    color: #666;
    display: block;
    text-decoration: none;
    white-space: nowrap
}

[data-toggle=collapse] {
    cursor: pointer;
    outline: 0
}

.more:focus,
:focus .more {
    color: #0067b1;
    outline: 0;
    text-decoration: underline
}

.highlight {
    color: #5da708
}

.title {
    color: #1e2986;
    font-size: 24px;
    padding-top: 10px
}

.no-js body {
    padding-top: 0
}

.no-js .navbar-fixed-top {
    margin-bottom: 0;
    position: relative
}

.no-js .more,
.no-js .navbar-toggle {
    display: none
}

#intro {
    background-image: url(../img/bg_sec1.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 4rem
}

#intro h1,
#intro h2 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8)
}

#intro h1 {
    color: #113656;
    font-size: 2em
}

#intro h2 {
    font-size: 2.6em;
    color: #1a2327;
    padding: 30px
}

#basic-info,
#summary {
    font-size: 1em
}

#message,
#summary {
    font-weight: lighter
}

#intro-inset {
    background: rgba(255, 255, 255, .67);
    color: #232323;
    margin-top: 2em;
    padding: 1.5em;
    text-align: left
}

#info {
    text-align: justify
}

#intro hr {
    border-color: #666;
    margin: .5em 0
}

#intro a.button {
    margin-top: .3em
}

#message {
    background: rgba(255, 255, 255, .2);
    padding: 1em
}

#message img {
    border: thin solid #222;
    float: right;
    height: 60px;
    margin-left: 1em;
    width: 60px
}

#byline {
    white-space: pre-line
}

#summary {
    color: #000;
    margin-top: 2em
}

#description {
    color: #000;
    text-align: left
}

#program .time {
    text-align: right
}

#logistics-inset img {
    width: 65%
}

#logistics a.button {
    margin-top: .2em
}

#logos1 img,
#logos2 img {
    margin-top: 2em
}

.pdt20 {
    padding-top: 20px
}

.pdt30 {
    padding-top: 30px
}

.pd2-4 {
    padding: 20px 40px
}

@media screen and (max-width:940px) {
    .nav li a {
        font-size: .9em;
        padding-left: 8px;
        padding-right: 8px
    }
    h1 {
        font-size: 1.6em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg);
        padding-top: 3em
    }
    #intro h2 {
        font-size: 2.3em
    }
}

@media screen and (max-width:767px) {
    #logistics-inset img,
    .bio h3 {
        margin-top: 0
    }
    h1 {
        font-size: 1.4em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg)
    }
    #intro h2 {
        font-size: 2em
    }
    #summary {
        font-size: 1.2em
    }
    .bio {
        padding-left: 0
    }
    #speakers .more {
        float: right
    }
}

@media screen and (max-width:640px) {
    h1 {
        font-size: 1.3em;
        letter-spacing: .1em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg);
        padding-top: 2em
    }
    #intro h2 {
        white-space: pre-line
    }
    #summary {
        font-size: 1em
    }
}

@media screen and (max-width:540px) {
    h1 {
        font-size: 1.1em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg)
    }
    #summary {
        white-space: pre-line
    }
}

@media screen and (max-width:440px) {
    h1 {
        font-size: .9em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg)
    }
    #basic-info {
        font-size: 1.2em
    }
}

@media screen and (max-width:380px) {
    h1 {
        font-size: .75em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg)
    }
    #intro h2 {
        font-size: 2em
    }
    #basic-info {
        font-size: 1.1em
    }
    #summary {
        font-size: .9em
    }
}

@media screen and (max-width:320px) {
    #intro h2 {
        font-size: 2.3em
    }
    #intro {
        background-image: url(../img/bg_sec1.jpg)
    }
    #basic-info {
        font-size: 1em
    }
    .copyright {
        white-space: pre-line
    }
}
